<div class="header">
  <h1 class="gta-title">
    <span class="linha-texto">Linha do tempo de</span>
    <div class="linha-logo">
      <span class="gta-highlight">Grand Theft Auto!</span>
      <img src="assets/images/star.png" alt="GTA Logo" title="GTA Logo" class="rockstar-icon" />
    </div>
  </h1>

<nav class="timeline-menu">
  <a *ngFor="let game of games"
     [routerLink]="['/', game.route]">
    {{ game.title }}
  </a>
</nav>


<section class="game-list">
  <a
    *ngFor="let game of games"
    class="game-card"
    [id]="game.id"
    [routerLink]="['/', game.route]"
  >
    <div class="image-side">
      <img [src]="game.image" alt="{{ game.title }} Capa" />
    </div>
    <div class="info-side">
      <h2>{{ game.title }}</h2>
      <p>{{ game.description }}</p>
      <p><strong>Lançamento:</strong> {{ game.releaseDate }}</p>
      <p><strong>Plataformas:</strong> {{ game.platforms.join(', ') }}</p>
    </div>
  </a>

  <footer>
    <p>&copy; 2025 Paulo Henrique Gomes. Todos os direitos reservados.</p>
  </footer>
</section>

