@font-face {
  font-family: 'Pricedown';
  src: url('/assets/fonts/Pricedown.ttf') format('truetype'); // com a barra no início
  font-weight: normal;
  font-style: normal;
}

body {
  background: linear-gradient(135deg, #ffe6f0, #ccf2ff); // exemplo estilo Vice City
  margin: 0;
  padding: 0;
}
