@font-face {
    font-family: "princedown";
    src: url("/assets/fonts/princedown.otf") format('truetype');
}

//Header cabeçalho
.header {
    background-color: transparent;
    padding: 1.2rem;
    border-radius: 30px;
    margin: 2rem auto;
    max-width: 470px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    font-family: 'princedown', sans-serif;
    white-space: nowrap; //deixa a frase em uma linha só
    height: 13px;

    h1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 5.5rem;
        text-align: center;
        color: #0c0c0cce;
        text-shadow: 2px 2px #b4ab26;
        margin: 0;
    }
}

//slide de imagens

.slideimage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.068);
}

.slideshow {
  width: 400px;
  height: 250px;
  position: relative;
  overflow: hidden;
}

.slide {
  padding: 90px;
  position: absolute;
  width: 90%;
  height: 70%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slide.active {
  opacity: 1;
}

.gamesinapse {
  background-color: rgb(255, 255, 255);
  margin-top: 810px;
  margin-left: 50px;
  margin-right:50px;
  border-radius: 8px;
  box-shadow: 5 5 10px rgba(0, 0, 0, 0.068);
}

.gamesinapse h1 {
  font-family: 'Sora', sans-serif;
  justify-content: center;
}